<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Registration System</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Student Registration System</h1>
        <p>Manage your student registrations and easily keep track of their details.</p>
        <div class="links">
            <a href="/login" class="btn">Login</a>
            <br><br>
            <a href="/register" class="btn">Register Student</a>
        </div>
    </div>
</body>
</html>
